## Serve all files from inside wordpress directory, except those listed
RewriteEngine on
RewriteCond %{REQUEST_URI} !bh-wc-bitcoin-gateway/wordpress/ [NC]
RewriteCond %{REQUEST_URI} !/vendor-prefixed/ [NC]
RewriteCond %{REQUEST_URI} !/assets/ [NC]
RewriteCond %{REQUEST_URI} !/templates/ [NC]
RewriteRule (.*) wordpress/$1 [L]

# Enable WP_DEBUG.
php_flag log_errors On
php_value error_log "wp-content/php_errors.log"

# Trick WordPress into thinking we're serving REST API over HTTPS.
SetEnvIf Request_URI api HTTPS=on
SetEnvIfExpr "%{QUERY_STRING} =~ /api/" HTTPS=on

# Set return type for wp_get_environment_type()
SetEnv WP_ENVIRONMENT_TYPE local
