parameters:
    level: 8
    paths:
        - includes
        - bh-wp-bitcoin-gateway.php
        - autoload.php
        - uninstall.php
        - tests
    excludePaths:
        - vendor-prefixed
        - tests/_support
    bootstrapFiles:
        - phpstanbootstrap.php
        - autoload.php
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/wp-cli/wp-cli/php/class-wp-cli-command.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
    scanFiles:
        - vendor/antecedent/patchwork/Patchwork.php
    scanDirectories:
        - vendor-prefixed
#        - wp-content/plugins/...
        - wp-content/plugins/woocommerce
        - vendor/wp-cli
    ignoreErrors:
        - # WC_Settings_API::process_admin_options() specifies the bool return, but add_action does not expect any.
          message: '#Action callback returns bool but should not return anything.#'
          path: includes/integrations/woocommerce/class-bitcoin-gateway.php
        - # We pass the plugin_object array when registering the post type.
          message: '#Access to an undefined property WP_Post_Type::\$plugin_objects.#'
          paths:
            - includes/admin/class-wallets-list-table.php
            - includes/admin/class-addresses-list-table.php
        # - Don't check for null|false in tests
        #  message: '/Parameter .* expects .*|(false|null) given/'
        #  path: tests/*
        # Using exceptions in filters as controlflow to avoid die().
        # - message: '/Filter callback return statement is missing./'
        # LoggerAwareTrait allows for null $logger, but we set it in the constructor.
        - '#LoggerInterface\|null#'
        # PHPStan show errors when filters have more than two parameters.
        # - '#^Function apply_filters(_ref_array)? invoked with \d parameters, 2 required\.$#'
        # Parameter #1 $message of method a expects b, c given, when bad PhpDoc used.
        # - '/Parameter .* of .* expects .* given\./'
        # Setting an empty array with type associative array in the PhpDoc prints this.
        - '/does not accept default value of type array.{3}$/'
        # Sometimes seems to not find the test parent class's methods.
        # - '/Call to an undefined method.*(make|assert).*/'
        # WC_Data::add_meta_data works fine with non-string/array values
        - '/Parameter #2 \$value of method WC_Data::add_meta_data\(\) expects array\|string/'
        - #
          message: '#.*array{WP_Mock\\Matcher\\AnyInstance, .*} given.#'
          path: tests/unit
        - # Where we use Exceptions for control flow in tests, the return statements are absent.
          message: '#Filter callback return statement is missing.#'
          path: tests
        - # Let's not check for null|false in tests.
          message: '#\|(false|null) given#'
          path: tests
        - # Let's not check for null|false in tests.
          message: '#does not accept .*\|null.#'
          path: tests
        - # Don't report skipped tests
          identifier: deadCode.unreachable
          path: tests
        - # Allow using PhpDoc to use narrower interface types for classes.
          identifier: varTag.nativeType
          path: tests