/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.woobtc_bitcoin_logo {
    width: 200px;
}

.woobtc_status {

}

.woobtc_total:after, .woobtc_address:after {
    padding-left: 5px;
    font-family: Dashicons;
    content: "\f481";
}

.woobtc_total:hover, .woobtc_address:hover, .woobtc_last_checked_time:hover {
    text-decoration: underline;
    cursor: pointer;
}

.btc_logo_qr {
    text-align:center;
}
.btc_logo_qr img {
    margin-left:auto;
    margin-right:auto;
}

.woobtc_last_checked_time:after {
    padding-left: 5px;
    font-family: Dashicons;
    content: "\f463";
}